# ==========================================
# Application
# ==========================================
NODE_ENV=production
PORT=

# ==========================================
# CORS
# ==========================================
CORS_ORIGINS=

# ==========================================
# DATABASE
# ==========================================
DATABASE_URL=