# ==========================================
# Application
# ==========================================
NODE_ENV=
PORT=
APP_NAME=
APP_URL=

# ==========================================
# CORS
# ==========================================
CORS_ORIGINS=

# ==========================================
# DATABASE
# ==========================================
DATABASE_URL=

# ==========================================
# SENTRY
# ==========================================
SENTRY_DSN=https://your-key@oXXXXX.ingest.sentry.io/YYYYY

# ==========================================
# JWT
# ==========================================
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=3600s
JWT_RESET_SECRET=

# ==========================================
# BREVO
# ==========================================
SIB_API_KEY=
# ============================================
# REDIS (internal Docker network)
# ============================================
REDIS_URL=